services:
  users-db:
    container_name: user_db
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
  users-redis:
    container_name: user_redis
    image: redis:8.2.3
    ports:
      - 6379:6379
volumes:
  mysql_data:
